:root {
    --card-headings-color: rgba(131, 131, 131, 1);
}

.custom-hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.custom-hero__bg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.hero-bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-hero__content {
    position: relative;
    z-index: 2;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-heading {
    max-width: 900px;
}

.hero-heading h1,
.hero-heading h2,
.hero-heading p {
    margin: 0;
    font-size: clamp(42px, 5vw, 72px);
    font-weight: 400;
    line-height: 1.1;
}

.hero-description {
    max-width: 650px;
}

.hero-description p {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    color: #555;
}

.hero-buttons {
    display: flex;
    gap: 60px;
    margin-top: 20px;
}

.hero-btn {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    letter-spacing: .08em;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    padding-bottom: 4px;
}

.hero-btn:hover {
    opacity: .7;
}

@media (max-width: 768px) {

    .custom-hero__content {
        min-height: 500px;
        padding: 60px 20px !important;
    }

    .hero-heading h1,
    .hero-heading h2,
    .hero-heading p {
        font-size: 36px;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 20px;
    }
}

.custom-title-wrapper-with-link {
    text-align: center;
    display: flex;
    flex-direction: column;
}


.custom-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-info-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.custom-info-content {
    flex: 1;
}

.custom-info-content h1,
.custom-info-content h2,
.custom-info-content h3 {
    margin: 0 0 25px;
    font-size: 72px;
    line-height: 1;
}

.custom-info-content p {
    line-height: 1.8;
    margin-bottom: 20px;
}

.custom-info-buttons {
    display: flex;
    gap: 15px;
    margin-top: 35px;
}

@media screen and (max-width:989px) {

    .custom-info-wrapper {
        flex-direction: column;
        gap: 40px;
    }

    .layout--text_first .custom-info-wrapper {
        flex-direction: column;
    }

    .custom-info-content {
        max-width: 100% !important;
        text-align: center !important;
    }

    .custom-info-content h1,
    .custom-info-content h2,
    .custom-info-content h3 {
        font-size: 42px;
    }

    .custom-info-buttons {
        flex-wrap: wrap;
    }
}

.custom-info-section .page-width .hero-buttons {
    justify-content: center;
}

.custom-info-section .page-width .hero-buttons a {
    color: white;
    text-decoration-color: inherit;
}

.collection-list-wrapper-parent {
    position: relative;
}

.custom-section-divider {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: var(--divider-offset);
    z-index: var(--divider-z);
}

.custom-section-divider img {
    display: block;
    width: var(--divider-width);
    height: var(--divider-height);
    object-fit: contain;
}

/* custom-card__heading card__heading */
.custom-card__heading.card__heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--card-headings-color);
}